.container{
    display: flex;
    height: auto;
    width: auto;
    gap: 10px;
    flex-wrap: wrap;
}
.container>div{
    width: 30px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    
}
.container>div:hover{
    background-color: red;
}